<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Lists:</h1>
    <% for(let list of lists){ %>

    <div class="hstack gap-3">
      <p class="mr-3 col-6"><%= list.body%></p>

      <a href="/lists/<%=list.id%>/edit" class="btn btn-secondary col-2"
        >Edit List</a
      >

      <form
        action="/lists/<%=list._id%>?_method=DELETE"
        method="POST"
        class="col-4"
      >
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
    <br />

    <%} %>
  </div>
</div>
