<% layout("layouts/boilerplate") %>
<div class="container-fluid">
  <div class="col-6 offset-3">
    <form action="/lists" method="POST">
      <label for="note" class="form-label"></label>
      <textarea
        name="list[body]"
        id="note"
        cols="30"
        rows="3"
        class="form-control"
        required
      >
      </textarea
      ><br />
      <button class="btn btn-success">Add List</button>
    </form>
  </div>
</div>
